body {
    padding-top: 95px;
    background-color: #1a1a1a; /* gris sombre */
    color: white;
    min-height: 100vh;
}

.form-background {
    background-color:darkseagreen;
    color: black;
}


.checkbox-orange {
    appearance: none;
    -webkit-appearance: none;
    background-color: darkred;
    border: 2px solid greenyellow;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
}

.checkbox-orange:checked {
    background-color: darkseagreen;
}

.checkbox-orange:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3px;
    top: 0;
}



