<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top w-100">
<div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ path('main_home') }}">
            <img src="{{ asset('img/sortirLogo.png') }}" alt="LogoSortir" width="60" height="60" class="d-inline-block align-top mr-2">
            <span class="h4 mb-0"> ENI | SORTIR !</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
