{% extends 'base.html.twig' %}

{% block title %}
	Administration | Sortir.com
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4">Page d'administration</h1>

	<div class="d-flex justify-content-center gap-3">
		<a href="#" class="btn btn-primary btn-lg">Gérer les campus</a>
		<a href="{{ path('villes-list') }}" class="btn btn-primary btn-lg">Gérer les villes</a>
		<a href="{{ path('gestion-utilisateurs') }}" class="btn btn-primary btn-lg">Gérer des utilisateurs</a>
	</div>

{% endblock %}
