{% extends 'base.html.twig' %}

{% block body %}
<h1>Page d'administration</h1>
<div>
	<a href="">Gérer les campus</a>
	<a href="{{ path('villes-list') }}">Gérer les villes</a>
	<a href="">Gérer des utilisateurs</a>
</div>

{% endblock %}

{% block title %}
Administration | Sortir.com
{% endblock %}